<mat-toolbar class="bg-blue-600 text-white px-4 flex justify-between items-center">
  <div class="flex items-center">
    <button mat-icon-button (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="ml-2 text-lg font-bold">Smart Career Mate</span>
  </div>
  <div class="flex items-center space-x-4">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/profile">Mi Perfil</button>
  </div>
</mat-toolbar>
